/********** GENERAL **********/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  background: linear-gradient(to bottom, #249688 15%, transparent 15%),
  linear-gradient(to bottom, #E0DCD3, #CAD3D4);   
  display: flex;
  justify-content: center;
  align-items: center;    
  font-family: Helvetica, sans-serif;  
}

input{
  background-color: transparent;
  color: #B8BABC;
  width: 100%;
  font-size: 12px;
  height: 30px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  min-width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #F8F9FB;
}

/** Profile General **/
.profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.profile .user-name{
  font-size: 12px;
  font-weight: bolder;
}

.user-lastime{
  font-size: 10px;
  color:#7B8283;
  font-weight: bold;
}

/** Bars **/
.user-bar{
  width: 100%;
}
.user-bar, .active-contact-bar, .send-message-input{
  height: 60px;
  background-color: #FAFAFA;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-contact-bar, .send-message-input{
  margin-left: 2px;
  width: calc(100% - 2px);
}

/** Settings **/

.settings i{
  font-size: 20px;
  margin: 0 8px;
  color: #B0B1B1;
  cursor: pointer;
}

/********** ASIDE **********/
.aside{
  width: 40%;
  height: 100%;
  background-color: #FAFAFA;
  float: left;
}

/** Notify Bar **/
.notify-bar{
  height: 60px;
  background-color: #8DDBFC;
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notify-icon{
  color: #8DDBFC;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  margin-right: 15px;
}

.notify-link p{
  font-size: 12px;
  font-weight: bold;
}

.notify-link span{
  font-size: 10px;
}

/** Search Bar **/

.search{
  border-radius: 10px 0px 0px 10px;
  background-color: white;
  color: #B8BABC;
  font-size: 12px;
  height: 30px;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px;
}



.search input{
  border-radius: 0px 10px 10px 0px;
}

.search i{
  padding-right: 15px;
}

/** Chats and Contacts **/
.chats{
  height: calc(100% - 180px);
  overflow-y: scroll;
}


/** contact **/
.contact{
  background-color: white;
  margin: 3px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.contact.active{
  background-color: #EAEAEB;
}

.contact-box{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-image img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.contact .contact-name{
  font-size: 12px;
}

.contact .contact-name{
  font-weight: bolder;
}

.contact .contact-message, .contact .last-access{
  font-size: 10px;
  color: #C2C5C5;
}

.contact .last-access{
  font-size: 10px;
  text-align: right;
}



/********** CHAT BOX **********/

/** Default Mount **/
.mount{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.mount img{
  width: 250px;
  margin-top: 50px;
}
.mount h1, .mount p{
  margin-top: 20px;
  text-align: center;
}

/** Active Chat **/
.chat{
  width: 60%;
  height: 100%;
  background-image: url(../img/mine.jpg);
  float: left;
}

.chat .container-messages{
  width: calc(100% - 100px);
  margin: 30px 50px;
}

.chat-box{
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.container-messages .message{
  min-width: 200px;
  margin: 5px 0;
  border-radius: 10px;
}

.container-messages .left-messages, .container-messages .right-messages{
  width: 250px;
  position: relative;
  padding: 1px 0;
  margin: 5px 0;
  clear: both;
}

.container-messages .left-messages{
  float: left;
  background-color: white;
}
.container-messages .right-messages{
  float: right;
  background-color: #D6FABA;
}

.message-text{
  float: left;
  font-size: 12px;
  padding: 15px 15px;
}

.message-date{
  font-size: 8px;
  color: #B8BABC;
  position: absolute;
  align-self: flex-end;
  margin: 5px;
  bottom: 0;
  right: 5px;
  float: right;
}
.message-options{
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.message-options .clicked{
  color: red;
}

.options-panel{
  width: 200px;
  background-color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px;
  box-shadow: 1px 2px rgba(0, 0, 0, .2);
  font-size: 12px;
  color: #7B8283;
}

.options-panel ul{
  list-style: none;
  text-align: center;
}

.options-panel li{
  cursor: pointer;
  padding: 5px;
}

.options-panel li:hover{
  background-color: #F4EEEA;
}

.send-message-input{
  background-color: #F4EEEA;
}
.send-message-input input{
  background-color: white;
  border-radius: 10px;
  height: 35px;
}
.send-message-input i{
  cursor: pointer;
  color: #7B8283;
}
.send-message-input i:first-of-type{
  padding-right: 15px;
}

.send-message-input i:last-of-type{
  padding-left: 15px;
}