*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(to bottom, #249688 15%, transparent 15%),
  linear-gradient(to bottom, #E0DCD3, #CAD3D4);   
  display: flex;
  justify-content: center;
  align-items: center;    
  font-family: Helvetica, sans-serif;  
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  min-width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: red;
}

.aside{
  width: 40%;
  height: 100%;
  background-color: #FAFAFA;
  float: left;
}
/*** User Bar ***/
.user-bar{
  width: 100%;
}
.user-bar, .active-contact-bar{
  height: 60px;
  background-color: #FAFAFA;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/** settings **/

.settings i{
  font-size: 20px;
  margin: 0 8px;
  color: #B0B1B1;
  cursor: pointer;
}

/*** Notify Bar ***/
.notify-bar{
  height: 60px;
  background-color: #8DDBFC;
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notify-icon{
  color: #8DDBFC;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  margin-right: 15px;
}

.notify-link p{
  font-size: 12px;
  font-weight: bold;
}

.notify-link span{
  font-size: 10px;
}


/*** Chats ***/
.chats .search{
  border-radius: 10px 0px 0px 10px;
  background-color: white;
  color: #B8BABC;
  font-size: 12px;
  height: 30px;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px;
}

.chats input{
  width: 100%;
  background-color: transparent;
  color: #B8BABC;
  font-size: 12px;
  height: 30px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chats .search i{
  padding-right: 15px;
}

/** contact **/
.contact{
  background-color: white;
  margin:0px 15px 3px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.contact.active{
  background-color: #EAEAEB;
}

.contact-box{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-image img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.contact .contact-name{
  font-size: 12px;
}

.contact .contact-name{
  font-weight: bolder;
}

.contact .contact-message, .contact .last-access{
  font-size: 10px;
  color: #C2C5C5;
}

.contact .last-access{
  font-size: 10px;
  text-align: right;
}


/*** Users General ***/
.profile-image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 60px;
}
.profile-image img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.profile-image .user-name{
  font-size: 12px;
  font-weight: bolder;
}

/*** CHAT ***/
.chat{
  width: 60%;
  height: 100%;
  background-image: url(../img/mine.jpg);
  float: left;
  overflow: auto;
}

.chat .container-messages{
  width: calc(100% - 100px);
  height: calc(100% - 150px);
  margin: 30px 50px;
}

.container-messages .message{
  min-width: 200px;
  height: 40px;
  border-radius: 10px;
}

.container-messages .left-messages, .container-messages .right-messages{
  clear: both;
  display: block;
  position: relative;
}

.container-messages .left-messages{
  float: left;
  background-color: white;
}
.container-messages .right-messages{
  float: right;
  background-color: #D6FABA;
}

.message-text{
  font-size: 12px;
  font-weight: bold;
  padding-left: 15px;
  line-height: 40px;
}

.message-date{
  font-size: 8px;
  color: #B8BABC;
  position: absolute;
  bottom: 2px;
  right: 5px;
}




/* ACTIVE-CONTACT-BAR */

.active-contact-bar{
  margin-left: 2px;
  width: calc(100% - 2px);
}
